#map-canvas {
    width: 70%;
    height: 50%;
    float: right;
    padding: 20px;
    display: inline-block;
    opacity: 0.6;
}
pre {
	float: left;
	display: inline-block;
	width: 30%;
	height: 50%;
	opacity: 0.8;
}
#find h2 {
    position: relative;
    top: 250px;
    text-align: center;
}