/* Fonts */
@font-face {
 font-family: lato-thin;
 src: url(../fonts/Lato-Thin.ttf);
}
@font-face {
 font-family: lato-light;
 src: url(../fonts/Lato-Light.ttf);
}
@font-face {
 font-family: kraftstoff;
 src: url(../fonts/Kraftstoff.otf);
}
@font-face {
 font-family: sweetly;
 src: url(../fonts/Sweetly.ttf);
}
/* General */
html, body {
    color: #fff;
    margin-top: 0;
    padding: 0;
}
h4, h5, a, pre {
    font-family: lato-thin, Arial, sans-serif;
}
html body h1, h2, h3, p, a {
    font-family: lato-light, Arial, sans-serif;
}
p {
    margin-left: 20px;
    white-space: normal;
    letter-spacing: 1px;
}
h1 {
    font-size: 3.5em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2.5em;
}
h5 {
    font-size: 1.5em;
}
a:visited, a:link, a:hover {
    color: #fff;
}
a:active {
    color: #0084c2;

}
section {
    margin: 0;
    padding: 40px;
    height: 70%;
    -webkit-box-shadow:inset 0px 0px 2px 5px #000;
    -moz-box-shadow:inset 0px 0px 2px 5px #000;
    box-shadow:inset 0px 0px 20px 4px #000;
}
button {
    background-color: #5C6983;
    color: #F5F4F4;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.fullHeight{
    min-height: 100vh;
}
/* Header */
#header {
    background: url(../images/pic03.jpg);
    background-size: cover;
    width: 100%;
    padding-bottom: 2%;
}
#name {
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 4.5em;
    width: 100%;
    margin-top: 0;
    padding-top: 10vh;
}
#profileImage {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    z-index: 2;
    position: relative;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    border-radius: 400px;
    -webkit-box-shadow: 0 4px 4px #000, 0 1px 0 #fff inset;
    -moz-box-shadow: 0 4px 4px #000, 0 1px 0 #fff inset;
    box-shadow: 0 2px 8px #000, 0 1px 0 #fff inset;
}
/* Summary */
#summary {
    background: url(../images/pic04.jpg) fixed no-repeat;
    background-size: cover;
    text-align: center;
}
.blurSummary {
    background: url(../images/pic06.jpg) repeat fixed;
    background-size: cover;
    border-radius: 55px;
    margin-left: 5%;
    margin-right: 5%;
}
.summaryText {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.5em;
}
.summaryText a:visited, .summaryText a:link {
    color: #fff;
    font-size: 1.1em;
}
.summaryText a:hover {
    color: #336699;
}
.signature {
    font-family: sweetly, sans-serif, Sans;
}

/* Contact*/
#contact {
    background: url(../images/newspaper.jpg) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.contactText {
    text-align: center;
    word-break: break-word;
}
#contact a:visited, #contact a:link {
    color: #fff;
    text-decoration: none;
}
#contact a:hover {
    /*text-decoration: underline;*/
    color: #336699;
}

/* Story */
#story {
    background: url(../images/trees.jpg) no-repeat fixed;
    background-size: cover;
    text-align: center;
}
.blurStory {
    background: url(../images/treesBlur.jpg) no-repeat fixed;
    background-size: cover;
    border-radius: 55px;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
}
.storyName {
    font-size: 4em;
    opacity: 0.0;
    color: #006060;
}
.blurStory h2 {
    margin-left: 2%;
    margin-right: 2%;
}
.blurStory h4 {
    margin-left: 5%;
    margin-right: 5%;
    line-height: 120%;
    font-size: 2em;
}
.blurStory h5 {
    margin-left: 10%;
    margin-right: 10%;
}
.active {
    opacity: 1.0;
}
.storyText {
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
    line-height: 130%;
}
.pinTarget {
    width: 50%;
}

/* Nav menu */
nav {
    opacity: 0;
    position: fixed;
    top: -3vh;
    left: 0;
    z-index: 9999;
    text-align: center;
    width: 100vw;
    padding-top: 2%;
    padding-bottom: 0.5%;
    border-radius: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 100%);
}
.nav__menu {
    margin: 0;
    color: #c0c0c0;
    font-family: kraftstoff, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 0;
}
.nav__menu li {
    display: inline-block;
    background: linear-gradient(to top, rgba(200, 200, 200, 0.9), rgba(255, 255, 255, 255) 100%);
    border-radius: 15px;
}
.nav__menu a {
    font-family: kraftstoff, sans-serif, Sans;
    letter-spacing: 2px;
    margin-left: 1.01em;
    margin-right: 1.01em;
    font-size: 1.8em;
    color: #5C6983;
    text-decoration: none;
    font-weight: 400;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.nav__menu a:visited {
    color: #5C6983;
}

.nav__menu a:hover {
    color: #666;
}

.pinned .nav__menu a:hover {
    color: #fff;
    background-color: #313131;
}

.nav__menu li:hover {
    color: #666;
    background-color: #fff;
}

.pinned .nav__menu li:hover {
    color: #fff;
    background-color: #313131;
}
.logos {
    width: 20px;
}

/* Footer */
#footer {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: #006060;
}
.footerText {
    text-align: center;
    color: #000;
}

/* Media Querys */
@media only screen and (max-width: 1170px) {
    nav {
        top: 0;
        border-radius: 15%;
    }
    .nav__menu a {
        letter-spacing: 1px;
        margin-left: 0.2em;
        margin-right: 0.2em;
        font-size: 1.6em;
    }
    .nav__menu li {
        margin-bottom: 0.3em;
        margin-left: 0.5em;
    }
    #name {
        padding-top: 20vh;
    }
    #profileImage {
        width: 50%;
    }
    .summaryText {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        font-size: 1.5em;
    }
    #contact {
        background: url(../images/newspaper.jpg);
    }
    #story {
        background: -webkit-linear-gradient(#7893AF, #5A4468); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#7893AF, #5A4468); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#7893AF, #5A4468); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#7893AF, #5A4468); /* Standard syntax */
    }
    .storyName {
        color: #5A4468;
    }
    .desktopIndicator {
        display: none;
    }